mixin socials(props= {})

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + 'logo--' + modsList[i].trim();
      }
    }

  .socials
    ul.socials__list
      each item in props
        li.socials__item
          a.socials__link(href= item.link, aria-label= item.label)
            +icon(item.icon.name, item.icon.width, item.icon.height)
