extends ../base/layout.pug

block data
  include ../data/main-nav.data.pug
  include ../data/header.data.pug
  include ../data/promo.data.pug
  include ../data/socials.data.pug
  include ../data/popular.data.pug
  include ../data/advantages.data.pug
  include ../data/subscribe.data.pug
  include ../data/footer.data.pug

block variables
  -
    const title = 'ProjectName — Главная';
    const pageDescription = 'Интернет-магазин наручных часов и аксессуарам к ним';
    const hasHeader = true;
    const hasFooter = true;
    const currentPage = 'main';

block append head
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest" crossorigin='use-credentials'>
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  link(rel='preload', href='fonts/Playfairdisplay-regular.woff2', as='font', crossorigin='anonymous')

block nav
  +main-nav(mainNav)

block main
  main
    h1.visually-hidden Интернет магазин наручных часов и аксессуаров к ним
    +promo(promo)
    +popular(popular)
    +advantages(advantages)
    +subscribe(subscribe)

block modals
