.advantages {
  position: relative;
  margin-bottom: 40px;
  padding: 65px 0 25px;
  overflow: hidden;

  &::before {
    @include pseudo;

    left: 0;
    top: 0;
    width: 34%;
    height: 100%;
    background-color: $color-spring;
  }
}

.advantages__wrapper {
  @include full-sphere-border(365px, 365px, -120px, -150px, $color-cameo, 10);

  margin: 0 auto;
  width: 74%;
}

.advantages__list {
  @include list-reset;
  @include full-sphere-border(745px, 745px, -700px, 50px, $color-cameo, 10);

  position: relative;
  z-index: 100;
  margin-bottom: 20px;

  & > div {
    z-index: 100;
  }
}

.advantages__inner {
  display: flex;
  justify-content: space-around;
  min-height: 414px;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;
  max-width: 400px;

  h3 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-title-regular;
    font-size: rem(32);
    font-weight: 400;
  }

  p {
    margin: 0;
    margin-bottom: 30px;
    font-size: rem(16);
    color: $color-masala;
  }
}

.advantages__navigation {
  display: flex;
  justify-content: center;
  min-height: 20px;
}

.advantages__button {
  @include button-reset;
  @include interactive-opacity;

  margin: 0 10px;
  padding: 5px;
  background-image: url("../img/main/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--next {
    transform: rotate(180deg);
  }
}

.advantages__slider-counter {
  @include typography(12, 20);

  min-width: 30px;
  font-family: $font-alt;
  text-align: center;
}
