.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: $font-title-regular;
  font-size: rem(12);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  color: $color-gray;

  &--light {
    font-size: rem(16);
    font-weight: 700;
    color: $color-default-white;
  }
}
