.main-nav {
  position: relative;
  display: flex;
  align-items: center;

  ul {
    @include list-reset;

    display: flex;
    align-items: center;
    min-width: 300px;
    transform: translateX(-1000px);
    transition: transform $default-transition-settings, opacity 0.3s 0.3s ease;
    opacity: 0;
  }

  li {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: rem(14);
    color: $color-gray;
  }

  &--expanded {
    ul {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
