.socials {
  position: relative;

  &--horizontal {
    .socials__list {
      flex-direction: row;
    }

    .socials__item {
      margin: 0;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .socials__link {
      width: 25px;
      height: 25px;
    }
  }
}

.socials__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.socials__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.socials__link {
  @include interactive-opacity;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
