.toggler {
  @include button-reset;

  position: relative;
  margin-right: 100px;
  width: 18px;
  height: 17px;
  transition: all $default-transition-settings;
  outline: none;

  &::before {
    @include pseudo;

    top: -6px;
    left: -6px;
    width: 30px;
    height: 29px;
    border: 1px solid rgba($color: $color-black, $alpha: 0.3);
    transition: opacity $default-transition-settings;
    opacity: 0;
  }

  &:hover::before,
  &:active::before {
    opacity: 1;
  }

  span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    transition: background $default-transition-settings;

    &::before,
    &::after {
      @include pseudo;

      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-black;
      transition: all $default-transition-settings;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  &--close {
    span {
      background: transparent;

      &::before {
        top: 0;
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        top: 0;
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
