mixin header(currentPage, header, headerMod)

  header(class=(headerMod) ? 'header header--' + headerMod : 'header')
    .header__inner.container
      +logo(header.logo, 'Conquest', currentPage, 'dark')
      block nav
      +header-toolbar(header.toolbar)
