mixin header(currentPage, logo, headerMod)

  header(class=(headerMod) ? 'header header--' + headerMod : 'header')
    .header__inner.container
      +logo(logo, 'Conquest', currentPage, 'dark')
      block nav
