-
  const advantages = [
    {
      title: 'Подлинное качество',
      text: 'Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.',
      link: 'catalog.html',
      linkText: 'Смотреть каталог',
      img: {
        path: 'main',
        name: 'advantages-photo-1',
        type: 'jpg',
        width: 521,
        height: 414,
        alt: 'изображение преимущества',
      },
    },
    {
      title: 'Lorem ipsum',
      text: 'Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.',
      link: 'catalog.html',
      linkText: 'Смотреть каталог',
      img: {
        path: 'main',
        name: 'advantages-photo-1',
        type: 'jpg',
        width: 521,
        height: 414,
        alt: 'изображение преимущества',
      },
    },
    {
      title: 'Lorem dolor',
      text: 'Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.',
      link: 'catalog.html',
      linkText: 'Смотреть каталог',
      img: {
        path: 'main',
        name: 'advantages-photo-1',
        type: 'jpg',
        width: 521,
        height: 414,
        alt: 'изображение преимущества',
      },
    },
    {
      title: 'Lorem amet',
      text: 'Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.',
      link: 'catalog.html',
      linkText: 'Смотреть каталог',
      img: {
        path: 'main',
        name: 'advantages-photo-1',
        type: 'jpg',
        width: 521,
        height: 414,
        alt: 'изображение преимущества',
      },
    },
  ]
