-
  const footer = {
    tel: '8 (499) 450-47-97',
    email: 'info@conquest.watch.ru',
    columns: [
      {
        title: 'О компании',
        links: [
          {
            label: 'Наши магазины',
            url: 'shops.html',
          },
          {
            label: 'Вакансии',
            url: 'job.html',
          },
          {
            label: 'Сертификаты',
            url: 'sertificates.html',
          },
          {
            label: 'Отзывы',
            url: 'feed.html',
          },
        ]
      },

      {
        title: 'Покупателям',
        links: [
          {
            label: 'Каталог товаров',
            url: 'catalog.html',
          },
          {
            label: 'Как заказать?',
            url: 'order.html',
          },
          {
            label: 'FAQ',
            url: 'faq.html',
          },
          {
            label: 'Корпоративным клиентам',
            url: 'corporated.html',
          },
        ]
      },

      {
        title: 'Оплата и доставка',
        links: [
          {
            label: 'Способы оплаты',
            url: 'paying.html',
          },
          {
            label: 'Время доставки',
            url: 'delivery.html',
          },
          {
            label: 'Гарантии и ремонт',
            url: 'guarantees.html',
          },
          {
            label: 'Возврат и компенсация',
            url: 'compensations.html',
          },
        ]
      },
    ],

    logo: {
      pictureDark: {
        name: 'logo-header',
        width: 20,
        height: 20,
      },
      pictureLight: {
        name: 'logo-footer',
        width: 25,
        height: 25,
      },
      alt: 'Логотип сайта',
    },
  }
-
