-
  const logo = {
    pictureDark: {
      name: 'logo-header',
      width: 20,
      height: 20,
    },
    pictureLight: {
      name: 'logo-footer',
      width: 25,
      height: 25,
    },
    alt: 'Логотип сайта',
  };
