-
  const mainNav = {
    links: [
      {
        "id": "0",
        "name": "Каталог",
        "url": "catalog.html",
      },
      {
        "id": "10",
        "name": "Акции",
        "url": "discount.html",
      },
      {
        "id": "20",
        "name": "Доставка",
        "url": "delivery.html",
      },
      {
        "id": "30",
        "name": "Контакты",
        "url": "#contacts",
      },
    ]
  };
-
