-
  const popular = {
    title: 'Популярные модели',
    link: 'popular.html',
    items: [
      {
        brand: 'Rado',
        price: '65 300',
        currency: '₽',
        link: 'model-1.html',
        img: {
          path: 'main',
          image: 'model-1',
          imgType: 'png',
          width: 309,
          height: 318,
          altText: 'изображение модели часов',
        },
        mod: 'medium',
      },
      {
        brand: 'Rado',
        price: '65 300',
        currency: '₽',
        link: 'model-2.html',
        img: {
          path: 'main',
          image: 'model-2',
          imgType: 'png',
          width: 490,
          height: 492,
          altText: 'изображение модели часов',
        },
        mod: 'large',
      },
      {
        brand: 'Bvlgari',
        price: '81 700',
        currency: '₽',
        link: 'model-3.html',
        img: {
          path: 'main',
          image: 'model-3',
          imgType: 'png',
          width: 274,
          height: 240,
          altText: 'изображение модели часов',
        },
        mod: 'small',
      },
      {
        brand: 'Bvlgari',
        price: '72 700',
        currency: '₽',
        link: 'model-4.html',
        img: {
          path: 'main',
          image: 'model-4',
          imgType: 'png',
          width: 245,
          height: 246,
          altText: 'изображение модели часов',
        },
        mod: 'small',
      },
    ]
  };
