-
  const promo = {
    title: 'Весна/Лето 2019',
    subtitle: 'Коллекция',
    para_1: 'Швейцарские часы в наличии в Москве и с доставкой по всему миру',
    button: {
      text: 'Смотреть каталог',
    },
    img: {
      path: 'main',
      name: 'watch_main',
      type: 'png',
    }
  }
