-
  const socials = [
    {
      name: 'instagram',
      label: 'мы в инстаграм',
      icon: {
        name: 'icon-inst',
        width: 18,
        height: 18,
        big: {
          width: 24,
          height: 24,
        },
      },
      link: 'https://instagram.com',
    },
    {
      name: 'facebook',
      label: 'мы в фейсбук',
      icon: {
        name: 'icon-fb',
        width: 9,
        height: 17,
        big: {
          width: 12,
          height: 22,
        },
      },
      link: 'https://facebook.com',
    },
    {
      name: 'twitter',
      label: 'мы в твиттер',
      icon: {
        name: 'icon-tw',
        width: 17,
        height: 14,
        big: {
          width: 22,
          height: 18,
        },
      },
      link: 'https://twitter.com',
    },
  ]
